<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVyzyk6UGDyqfpYjEBgVYjnF7e7E_6_b4</string>
	<key>GCM_SENDER_ID</key>
	<string>961161552655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aimeechatFront.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aimee-2</string>
	<key>STORAGE_BUCKET</key>
	<string>aimee-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961161552655:ios:d4fa6c06a6d8ef3fdb947a</string>
</dict>
</plist>